# ruby 
# extends rb


snippet logger
	if Rails.env.development?
    logger.debug('###################')
    logger.debug("#{ ${0} }￼")
    logger.debug('###################')
  end

# erb files
# snippet turbo
#
# snippet link_to_delete
#
